<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admin/layouts/layout">
<body>

	<div id="content" layout:fragment="content">
			<div class="row">
		        <div class="col-md-12">
		        <!-- panel preview -->
		        <div class="panel panel-flat">
		            <div class="panel-heading">
						<h5 class="panel-title" th:text="#{item.title.new}">Add new Item:</h5>
						<h5 class="panel-title" th:text="${newItem.category.name}">Add new Item:</h5>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                	</ul>
	                	</div>
					</div>
		            <div class="panel-body">
		             <form id="additemForm" class="form-horizontal" action="#" th:action="@{'/admin/category/' + ${newItem.category.id} + '/saveitem'}" th:object="${newItem}" enctype="multipart/form-data" method="post">
		                <fieldset class="content-group">
		                <div class="panel-body form-horizontal payment-form">
		                    <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
							            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
							          </ul>
		                    
		                    <div class="form-group">
		                        <label for="serialNumber" class="control-label col-lg-2"><span th:text="#{item.serialNumber}">Serial Number</span></label>
		                        <div class="col-lg-10">
		                            <input type="text" class="form-control" th:field="*{serialNumber}" th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="description" class="control-label col-lg-2"><span th:text="#{item.description}">description</span></label>
		                        <div class="col-lg-10">
		                            <input type="text" class="form-control" th:field="*{description}"  th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    
		                    <div class="form-group">
		                        <label for="manufactureName" class="control-label col-lg-2"><span th:text="#{item.manufactureName}">manufactureName</span></label>
		                        <div class="col-lg-10">
		                            <input type="text" class="form-control" th:field="*{manufactureName}"  th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    
		                    <div class="form-group">
		                        <label for="manufactureSerialNumber" class="control-label col-lg-2"><span th:text="#{item.manufactureSerialNumber}">manufactureSerialNumber</span></label>
		                        <div class="col-lg-10">
		                            <input type="text" class="form-control" th:field="*{manufactureSerialNumber}"  th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    
							<div class="form-group">
		                        <label for="inspectorCompanySerialNumber" class="control-label col-lg-2"><span th:text="#{item.inspectorCompanySerialNumber}">inspectorCompanySerialNumber</span></label>
		                        <div class="col-lg-10">
		                            <input type="text" class="form-control" th:field="*{inspectorCompanySerialNumber}"  th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    
							<div class="form-group">
		                        <label for="note" class="control-label col-lg-2"><span th:text="#{item.note}">note</span></label>
		                        <div class="col-lg-10">
		                            <input type="text" class="form-control" th:field="*{note}"  th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <div class="col-sm-12 text-right">
		                            <button type="submit" name="save" class="btn btn-primary">Add <i class="icon-arrow-right14 position-right"></i></button>
		                        </div>
		                    </div>
		                </div>
		                </fieldset>
		                </form>
		            </div>
		        </div> 
		       
	 	</div>
	</div>
	</div>
</body>
</html>





























