<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="admin/layouts/layout :: htmlhead" th:with="title='Hello'"></head>

  <body>
    <div th:replace="admin/layouts/layout :: navbar">(navbar)</div>

    <div class="container">
      <div class="starter-template">
					<h2 th:text="#{item.title.list}+${selectedCategory.name}">List Items</h2>
					<a th:href="@{'/admin/category/' + ${selectedCategory.id}+'/additem'}">Add New Item</a>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>serialNumber</th>
								<th>Name</th>
								<th>Certification Date</th>
								<th>Certification Expired Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="item : ${items}">
								<td>
									<a th:href="@{'/admin/category/' + ${selectedCategory.id}+'/item/' + ${item.id}}"><span th:text="${item.serialNumber}"></span> </a>
								</td>
								<td th:text="${item.name}"></td>
								<td th:text="${#calendars.format(item.certificationDate,'dd MMMM yyyy')}"></td>
								<td th:text="${#calendars.format(item.certificationExpiredDate,'dd MMMM yyyy')}"></td>
								<td th:id="${item.id}">
										<button class="btn btn-danger delete-item">X</button>
										<a th:href="@{'/admin/category/' + ${selectedCategory.id}+'/item/' + ${item.id}+'/download'}">Download</a>
								</td>
							</tr>
						</tbody>
					</table>

	<script type="application/javascript">
    $(document).ready(function () {
        $('.delete-item').on("click", function(e){
            e.preventDefault();
        	var id = $(this).closest("td").attr("id");
        	console.log("id: " + id);
            if(confirm("Are you sure you want to delete the selected item?"  )){

                $.ajax({
                    type:"DELETE",
                    url:"/admin/deleteitem/" + id,
                    success:function (data) {
                        $(".delete-item").closest("td#"+data).parent("tr").fadeOut("slow",function(){
                            $(".delete-item").closest("td#"+data).parent("tr").remove();
                        });
                    }
                });
            }

        });

    });
</script>
      </div>
    </div>

    <div th:include="admin/layouts/layout :: footer" id="footer">(footer)</div>

  </body>
</html>