<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admin/layouts/layout">
   <body>
   	<div id="content" layout:fragment="content">
		<div class="row">
			<!-- panel preview -->
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="lead" th:text="#{item.title.edit}" >Edit</span>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                	</ul>
	                	</div>
					</div>
					<form action="#"
						th:action="@{'/admin/category/' + ${item.category.id} +'/item/' +${item.id} }"
						th:object="${item}" enctype="multipart/form-data" method="post">

						<div class="panel-body form-horizontal payment-form">
							<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
								<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
									is incorrect</li>
							</ul>

							<div class="form-group">
								<label for="serialNumber" class="col-sm-3 control-label"><span
									th:text="#{item.serialNumber}">Serial Number</span></label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{serialNumber}" th:errorclass="fieldError" />
								</div>
							</div>
							<div class="form-group">
								<label for="description" class="col-sm-3 control-label"><span
									th:text="#{item.description}">description</span></label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{description}" th:errorclass="fieldError" />
								</div>
							</div>

							<div class="form-group">
								<label for="manufactureName" class="col-sm-3 control-label"><span
									th:text="#{item.manufactureName}">manufactureName</span></label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{manufactureName}" th:errorclass="fieldError" />
								</div>
							</div>

							<div class="form-group">
								<label for="manufactureSerialNumber"
									class="col-sm-3 control-label"><span
									th:text="#{item.manufactureSerialNumber}">manufactureSerialNumber</span></label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{manufactureSerialNumber}"
										th:errorclass="fieldError" />
								</div>
							</div>


							<div class="form-group">
								<label for="inspectorCompanySerialNumber"
									class="col-sm-3 control-label"><span
									th:text="#{item.inspectorCompanySerialNumber}">inspectorCompanySerialNumber</span></label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{inspectorCompanySerialNumber}"
										th:errorclass="fieldError" />
								</div>
							</div>


							<div class="form-group">
								<label for="note" class="col-sm-3 control-label"><span
									th:text="#{item.note}">note</span></label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{note}"
										th:errorclass="fieldError" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12 text-right">
									<button type="submit" name="update" class="btn btn-primary">
										Update <i class="icon-arrow-right14 position-right"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="generic-container">
						<div class="panel panel-default">
							<!-- Default panel contents -->
							<div class="panel-heading">
								<span class="lead">List of Documents </span>
								<div class="heading-elements">
									<ul class="icons-list">
										<li><a data-action="collapse"></a></li>
									</ul>
								</div>
							</div>
							<div class="tablecontainer">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>No.</th>
											<th>Type</th>
											<th>Name</th>
											<th>Date Of certificate/Maintenance</th>
											<th>Expiry Period</th>
											<th>Expiry Date</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="certificate : ${item.certificates}">
											<td th:text="${certificate.id}"></td>
											<td th:text="${certificate.typeName}"></td>
											<td th:text="${certificate.name}"></td>
											<td th:text="${#dates.format(certificate.date, 'dd-MMM-yyyy')}"></td>
											<td th:text="${certificate.periodName}"></td>
											<td th:text="${#dates.format(certificate.expiryDate, 'dd-MMM-yyyy')}"></td>
											<td th:id="${certificate.id}">
											   <a th:href="@{'/admin/category/' + ${item.category.id}+'/item/' + ${item.id}+'/downloadcertificate/' + ${certificate.id}}" class="btn btn-success custom-width"><i class="fa fa-download" aria-hidden="true"></i></a>
											   <button class="btn btn-danger custom-width delete-document"><i class="fa fa-trash-o fa-lg"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="generic-container">
						<div class="panel panel-default">

							<div class="panel-heading">
								<span class="lead">Upload New Document</span>
								<div class="heading-elements">
									<ul class="icons-list">
										<li><a data-action="collapse"></a></li>
									</ul>
								</div>
							</div>
							<form action="#" th:action="@{'/admin/category/' + ${item.category.id} +'/item/' +${item.id}+'/certificate' }" th:object="${newCertificate}" enctype="multipart/form-data" method="post">
							<div class="panel-body form-horizontal payment-form">
									
									<div class="form-group">
										<label for="type" class="control-label col-lg-2">Period:</label>
										<div class="col-lg-9">
											<div class="col-md-2">
												<select th:field="*{type}"
													data-placeholder="Select document type"
													class="select select2-hidden-accessible" tabindex="-1"
													aria-hidden="true">
													<option value="0">Certificate</option>
													<option value="1">Maintenance</option>
													<option value="2">Extra</option>
												</select>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<label for="name" class="control-label col-lg-2"><span
											th:text="#{certificate.name}">Name</span></label>
										<div class="col-lg-9">
											<input type="text" class="form-control" th:field="*{name}" th:errorclass="fieldError" />
										</div>
									</div>

									<div class="form-group">
										<label for="date"
											class="control-label col-lg-2"><span
											th:text="#{certificate.date}">Date</span></label>
										<div class="col-lg-9">
											<div class="col-md-2">
												<input type="date" class="form-control" th:field="*{date}" th:errorclass="fieldError" />
										    </div>
										</div>
									</div>

									<div class="form-group">
										<label for="period" class="control-label col-lg-2">Period:</label>
										<div class="col-lg-9">
											<div class="col-md-2">
												<select th:field="*{period}"
													data-placeholder="Select expiry period"
													class="select select2-hidden-accessible" tabindex="-1"
													aria-hidden="true">
													<option value="0">3 Months</option>
													<option value="1">6 Months</option>
													<option value="2">1 Year</option>
													<option value="3">3 Years</option>
													<option value="4">5 Years</option>
												</select>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label for="file" class="col-lg-3 control-label">File:</label>
										<div class="col-lg-9">
											<input type="file" name="file" class="file-styled">
											<span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
										</div>
									</div>
									
									
												

									<div class="form-group">
										<div class="col-sm-12 text-right">
											<button type="submit" name="upload" class="btn btn-primary">
												Upload <i class="icon-arrow-right14 position-right"></i>
											</button>
										</div>
									</div>

								
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   </body>
</html>



















