<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admin/layouts/layout">
   <body>
   
   	<div id="content" layout:fragment="content">
			<div class="row">
		        <div class="col-sm-12">
		            <legend><span th:text="${item.category.name}"></span>:</legend>
		        </div>
		        <!-- panel preview -->
		        <div class="col-sm-5">
		            <h4 th:text="#{item.title.edit}">Add new Item:</h4>
                
		            <div class="panel panel-default">
                 <form action="#" th:action="@{'/admin/category/' + ${item.category.id} +'/item/' +${item.id} }" th:object="${item}"  enctype="multipart/form-data" method="post">
              
		                <div class="panel-body form-horizontal payment-form">
		                    <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
							            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
							          </ul>
		                    
		                    <div class="form-group">
		                        <label for="serialNumber" class="col-sm-3 control-label"><span th:text="#{item.serialNumber}">Serial Number</span></label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" th:field="*{serialNumber}" th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="name" class="col-sm-3 control-label"><span th:text="#{item.name}">Name</span></label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" th:field="*{name}"  th:errorclass="fieldError" />
		                        </div>
		                    </div> 
		                    <div class="form-group">
		                        <label for="description" class="col-sm-3 control-label"><span th:text="#{item.description}">description</span></label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" th:field="*{description}"  th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    
		                    <div class="form-group">
		                        <label for="manufactureName" class="col-sm-3 control-label"><span th:text="#{item.manufactureName}">manufactureName</span></label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" th:field="*{manufactureName}"  th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    
		                    <div class="form-group">
		                        <label for="manufactureSerialNumber" class="col-sm-3 control-label"><span th:text="#{item.manufactureSerialNumber}">manufactureSerialNumber</span></label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" th:field="*{manufactureSerialNumber}"  th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    
		                    <div class="form-group">
		                        <label for="certificationDate" class="col-sm-3 control-label"><span th:text="#{item.certificationDate}">certificationDate</span></label>
		                        <div class="col-sm-9">
		                            <input type="date" class="form-control" th:field="*{certificationDate}" th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    
		                    <div class="form-group">
		                        <label for="certificationExpiredDate" class="col-sm-3 control-label"><span th:text="#{item.certificationExpiredDate}">certificationExpiredDate</span></label>
		                        <div class="col-sm-9">
		                            <input type="date" class="form-control" th:field="*{certificationExpiredDate}" th:errorclass="fieldError" />
		                        </div>
		                    </div>
							<div class="form-group">
		                        <label for="note" class="col-sm-3 control-label"><span th:text="#{item.note}">note</span></label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control" th:field="*{note}"  th:errorclass="fieldError" />
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label for="certificat" class="col-sm-3 control-label"><span>File to upload:</span></label>
		                        <div class="col-sm-9">
		                            <input type="file" name="certificat"  />
		                        </div>
		                    </div>   
		                    <div class="form-group">
		                        <div class="col-sm-12 text-right">
		                            <button type="submit" name="update"  class="btn btn-default preview-add-button">
		                                <span class="glyphicon glyphicon-plus"></span> Update
		                            </button>
		                        </div>
		                    </div>
		                </div>
		                </form>
		            </div>
		        </div> 
			</div>
   </div>
   </body>
</html>



















